VITE_SUPABASE_URL=https://ubiuoinbhbegznphuwwa.supabase.co/rest/v1/
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InViaXVvaW5iaGJlZ3pucGh1d3dhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODIzNzU2MTIsImV4cCI6MjA5Nzk1MTYxMn0.moG7EtjC-1HUM3v6ZTI-NYJVFJLEsM1x4IVBjSS_Fng